@import url(iconfont.css);
input, button {
    -webkit-appearance: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #bdbdbd;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bdbdbd;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #bdbdbd;
}


